  @font-face {
        font-family: 'Billion Dreams Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Billion Dreams Regular'), url('BillionDreams_PERSONAL.woff') format('woff');
        }

#title{
   font-family: 'Billion Dreams Regular';
   font-size: 2em;
   padding-left: 1em;
   font-weight: bolder;
   background:yellow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-weight:1000;
   display: inline;
   
}

